.todotable-container {
  height: 100%;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.spin-container {
  margin: auto;
  display: flex;
  justify-content: center;
  
}
.header {
  display: flex;
  margin: auto;
  border-radius: 4px;
  height: 50px;
  background-color: rgba(60, 117, 124, 0.774);
  text-align: center;
  padding-top: 15px;
  font-weight: 700;
  justify-content: space-around;
  flex-direction: row;
  align-items: stretch;
}

.add-button {
  margin: auto;
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 20px;
  border: 1px solid black;
}
.add-button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.add-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.add-button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

a.button3 {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}
a.button3:hover {
  background-color: #4095c6;
}
@media all and (max-width: 30em) {
  a.button3 {
    display: block;
    margin: 0.2em auto;
  }
}
.container {
  
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.ant-btn {
  border-radius: 50px !important;
}
.dark-mode {
  background: black;
  color: white;
}
.dark-mode .ant-table-cell,
.dark-mode .ant-table-wrapper,
.dark-mode .ant-table {
  background-color: grey !important;
}
.dark-mode .header {
  background-color: grey;
}
.App {
  height: 100vh;
  width: 100wh;
}
.dark-mode .spin-container{
  background-color: black;
}